<!DOCTYPE html>
<html>
  <head>
    <title>Concerts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1> Concerts App </h1>  
 <%= render "blah/navigation" %> 

    <%= yield %>
 
	<footer>
   <p> Made with &hearts; at Ironhack.
   </footer>
  </body>
</html>
