<h1> List of Concerts </h1>


<ul>

	<% @concerts.each do |one_concert| %>
<li>
Name: <%= one_concert.name %> Venue: <%= one_concert.venue %> City: <%= one_concert.city %> Date: <%= one_concert.date %> Price: <%= one_concert.price %> Description: <%= one_concert.description %>	
	
</li>
</ul>
	<% end %>




