<h2> Concert Details </h2>

<h3> <%= @concerts.name %> </h3>
<ul>
<li> Name: <%= @concerts.name %></li>
<li> Venue: <%= @concerts.venue %></li>
<li> City: <%= @concerts.city %> </li>
<li> Date: <%= @concerts.date %> </li>
<li> Price: <%= @concerts.price %> </li>
<li> Description: <%= @concerts.description %> </li>
</ul>
